.slots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.slot-box {
  width: 45px;
  height: 55px;
  border-bottom: 4px solid #333;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px 6px 0 0;
}

.slot-box:hover {
  background: #f2f2f2;
}

.letter-bank {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

.letter-btn {
  padding: 10px 14px;
  font-size: 16px;
  background: #0c5b0bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.letter-btn:hover {
  background: #0a4709;
}
.quiz-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* full screen center */
  text-align: center;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 400px; /* keeps it like a menu box */
}

.quiz-item {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #0c5b0bff;
  color: white;
  transition: 0.2s;
}
.bookworm {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #0c5b0bff;
  color: white;
  transition: 0.2s;
}
.quiz-item:hover {
  background: #0a4709;
  transform: scale(1.03);
}

.quiz-item.special {
  background: #1e88e5;
}

.quiz-item.special:hover {
  background: #1565c0;
}
.lesson-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b1a2a; /* optional dark bg */
  padding: 20px;
}

/* CARD CONTAINER */
.lesson-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* QUESTION AREA */
.question {
  margin-top: 20px;
}

/* OPTIONS BUTTONS */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.options button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #1f6feb;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.options button:hover {
  background: #1554b3;
}

/* DRAG ITEMS CENTER */
.question > div {
  justify-content: center;
}

/* FEEDBACK + SCORE */
.feedback {
  margin-top: 15px;
  font-weight: bold;
}

.score {
  margin-top: 5px;
}

/* BUTTONS */
.lesson-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.lesson-buttons button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #2ea043;
  color: white;
  cursor: pointer;
}

.lesson-buttons button:hover {
  background: #238636;
}
